/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-dark-text:  hsl(201, 90%, 8%);
  --color-light-text: hsl(45, 88%, 94%);
}

/* semantic color variables for this project */
:root {
  --color-background: hsl(204, 100%, 84%);
  --color-background2: hsl(30, 100%, 82%);
  --color-button: hsl(335, 21%, 17%);
  --color-button-text: hsl(55, 71%, 86%);
  --color-text: hsl(45, 88%, 94%);
  --color-border: hsl(248, 26%, 45%);
  --color-border-hover: hsl(248, 25%, 23%);
  --color-heading: var(--vt-c-text-dark-1);
  --section-gap: 160px;

  --color-background-editor: hsla(38, 55%, 91%,0%);
  --color-editor: var(--color-text)
}

/*  */
:root {
  --border-radius-small: 2px;
}

/*@media (prefers-color-scheme: dark) {*/
  :root {
    --color-button: var(--color-background-item);
    --color-button-hover: hsl(248, 45%, 83%);
    
    --color-text: hsl(45, 88%, 94%);
    --color-text-faded: hsla(45, 88%, 94%, 50%);
    --color-text-lightly-faded: hsla(44, 87%, 94%, 0.74);

    --color-content-box: hsl(266, 84%, 7%);
    --color-border: hsl(248, 20%, 16%);
    --color-border-hover: hsl(248, 45%, 83%);
    --color-input-background: hsl(196, 100%, 95%);
    --color-input-text: var(--color-dark-text);
    --color-heading: var(--vt-c-text-dark-1);
    --color-divider: hsl(205, 75%, 97%);

    --color-bg-3:  hsl(253, 13%, 28%);
    --color-bg-4:  hsl(254, 14%, 23%);
    --color-bg-5:  hsl(264, 11%, 18%);
    --color-bg-6:  hsl(270, 6%, 14%);
    --color-bg-7:  hsl(270, 4%, 11%);

    --color-fg-1:  #d5e6e7;
    /* from outer line to inner*/
    --color-md-textbox-o1: rgb(104, 135, 249);
    --color-md-textbox-line : rgb(225, 247, 247);
    --color-md-textbox-i1 : rgb(73,82,249);
    --color-md-textbox-i2 : rgb(50,45,192);
    --color-md-textbox-bg : rgba(51,51,51,80%);
    --color-md-infobox-bg : rgba(51,51,51,50%);

    --color-button-bg : rgba(51,51,51,80%);
    --color-button-bg-hover : rgba(66,66,66,80%);
    --color-button-bg-active : rgba(77,77,77,80%);
  }
/*}*/


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}


body {
  min-height: 100vh;
  background-color: transparent;
  color: var(--color-text);
  background: none;
  transition:
    color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
