@import './base.css';

#app {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  color: var(--color-text);
  border: 1px solid var(--color-border);
  background-color: var(--color-button-bg);
}

button:hover {
  background-color: var(--color-button-bg-hover);
}

button:active{
  background-color: var(--color-button-bg-active);
}

.control-button {
  border: solid 1px black;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  background-color: var(--color-button-bg);
}

.control-button:hover{
  background-color: var(--color-button-bg-hover);
}

.control-button:active{
  background-color: var(--color-button-bg-active);
}


.pmd-font {
  font-family: 'wondermail';
  color: white;
}

.text-right {
  text-align: right;
}

.text-centered{
  text-align: center;
}

.responsive-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.text-input{
  border: 1px solid var(--color-border);
  background-color: var(--color-input-background);
  color: var(--color-input-text);
}

.info{
  background-color: var(--color-background-item);
  color: var(--color-button-text);
}

.error{
  background-color: var(--color-background-critical);
  color: var(--color-text);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.background-image {
  background-image: url("./PSMD-Map.png");
  min-height: 100vh;
  min-width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -100;
}


@font-face {
  font-family: wondermail;
  src: url(/font/wondermail.ttf);
}

/*
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
*/